/*reset : mettre à 0 toutes les propriété du navigateur */

html {
    font-size: 62.5%;
    /*
        font et taille de la police de caractères 
        respecter 62.5% * 16 = 10.00 rem = root em
        *16 car base 16 norme des navigateurs 
        Une seule valeur 
    */
}

body {
    font: 1.6rem sans-serif;
    /*taille + police prend c'est deux valeur 1.6rem = 16 px*/
    margin: 0;
    letter-spacing: 0.1rem;
    /* 1px*/
    line-height: 1.6;
    /* dans la hauteur des lignes est une constante donc pas besoin de mettre rem */
    background-color: #2b2a33;
    color: #fff;
}

h1,
h2,
h3,
p,
ul {
    /* contexte de balises ayant les mêmes propriétés */
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

button {
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    /* hérité du parent */
    color: #fff;
}

a {
    text-decoration: none;
    color: rgba(30, 125, 185, 0.548);
    /* 
        trois couches chromatiques red-green-blue rgb permet d'avoir plus de couleurs => 
        255 puissance 3 pour seulement 255 en # 
        a dans rgba correspond à alpha = opacité de 0 à 1

        rechercher les autres notations de paramètres de couleurs 
    */
}

/* theme css */

header>h1 {
    background-color: rgba(72, 126, 176, 1.0);
    color: aliceblue;
    text-align: center;
    line-height: 8rem;
    font-weight: bolder;
    font-size: 4rem;
    /* modifie taille du titre */
}

header>h1 span {
    vertical-align: 0.2rem;
    /* permet d'aligner uniquement l'icone sur le titre soit middle soit en rem */
}

section {
    max-width: 100rem;
    /* 1200px */
    margin: 5rem auto;
    background-color: #42414d;
    padding: 1rem;
}

section h2,
section p {
    background-color: #2b2a33;
    color: inherit;
    padding: 1rem;
}

section p img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
}

section p {
    margin-top: 1rem;
}